@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

.bar rect {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.node {
    cursor: pointer;
}

.action {
    cursor: pointer;
}

.partition{
  cursor: pointer;
}

.selection_rect{
  cursor: pointer;
}

.header{
  font-weight: bold;
}

.radio{
   line-height: 1.9 !important;
   padding: 2px !important;
   margin-bottom: 2px !important;
   margin-top:2px !important;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.graph {
  left: 0px;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;

}

.info {
  left: 0px;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;

}


.wrapper {
  display: inline-flex;
  position: absolute;
  right: 10px;
  left: 10px;
}



/*    
.charts {
  padding: 2px 0;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  display: inline-flex;
}
*/

.align-top{
  align-items: top;
}

.align-center{
  align-items: center;
}
.charts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-right:20px;

}

.chart {
  display: inline-block;
  position: relative;
  margin-left:10px;
  z-index:1;
/*  height: 151px;*/
  /*margin-bottom: 20px;*/
}

.time-dropdown{
  z-index:9999 !important;
  float: right !important;
  right: 0 !important;
  left: auto !important;
}




.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.noAxis path, .noAxis line {
  fill: none;
  stroke:none;
  shape-rendering: crispEdges;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size:12px;
}

body{
  font-size: 12px !important;
}


#svg_container {
    width: 100%;
    height: 100%;
}

#tree{
  height:1500px;
}



.leftovers {
  fill: gray;
}

.partition rect{
  fill: steelblue;
}

.hidden{display:none;}

/*.noAxis path, .noAxis line {
  fill: none;
  stroke:none;
  shape-rendering: crispEdges;
}*/


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.ttip rect{
  stroke:lightgrey;
  stroke-width: 1px;
  fill:white;
}

.ttip text{
  font: 8px sans-serif;
  text-anchor: middle;
}

#tooltip {
  position: absolute;
/*  height: 20px;
  width: 65px;*/
  display:block;
  overflow:scroll;
  min-width: 65px;
  max-height: 100px;
  padding: 2px;
  background-color: white;
  border:1px solid lightgrey;
/*        -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
  /*pointer-events: none;*/
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 8px;
  line-height: 20px;
}
#cy {
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
}

#info {
color: #c88;
font-size: 1em;
position: absolute;
z-index: -1;
left: 1em;
top: 1em;
}

.dotted {
  stroke-dasharray: 5
}


.panel-heading .info-toggle .icon:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  
    content: "\e114";    
    position: absolute;
    right:5px;
    /*float: right;*/
            /* adjust as needed */
    /*margin-top: -9px;*/

}
.panel-heading .info-toggle.collapsed .icon:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

/*.panel-heading .info-toggle .text-toggle{
    visibility: hidden;
    height: 0px !important;
}
.panel-heading .info-toggle.collapsed div {
    visibility: visible;
    height: 15px;
    font-size: 12px;
}
*/



.panel-resizable {
            resize: horizontal;
          overflow: auto
        }
.no-font{
  font-size: 0px;
}

.no-padding{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


.icon-adjust{
  position:absolute;
  top:0;
  right:5px;
}




.range_radio {

  font-size: 12px;
  font-family: sans-serif;
  font-weight: normal;

}

.top-buffer-sm { margin-top:5px; }
.top-buffer { margin-top:20px; }
.left-buffer { margin-left:20px; }
.right-buffer { margin-right:10px; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  margin-bottom: -1px;
}

input {
    text-align:right;
}


.panel-background{
  background-color: #f9f9f9;
}

.inline {
  position: relative;
  display: inline-flex;
}

/*.inline {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;

}*/
.scroll{
  overflow: scroll;
}
.border {
  border:1px solid lightgrey;
}

.inline-right {
  position: relative;
  display: inline-flex;
  text-align: right;
}

.inline-center {
  /*position: relative;
  display: inline-flex;*/
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3%;

}

.inline-center-center {
  /*position: relative;
  display: inline-flex;*/
  display: flex;
  text-align: center;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  padding: 0 3%;

}


.panel
{
  position: relative;
  margin-bottom:0;
  padding:0;
}

/**/
.info-titles{
  position:absolute;
  top:0px;
  width: 50%;
  text-align: center;
  /*left:25%;*/
}

.standard-text{
  font-size:12px;
  fill:black;
  text-anchor: middle;
}

.warning-text{
  font-size:15px;
  fill:black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.title{
  /*margin-top:18px;*/
  font-size: 12px;
}

.close{
  position:absolute;
  top:0;
  right:0;
  /*margin-top: -5px;*/
}

.dropdown-menu {
  min-width:65px !important;

}

.action-icon svg {
  width:16px;
  height:16px;
}

.panel-icon{
  position: absolute;
  right:0;
  top:0;
  text-align: right;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 24px;
  z-index:2;
}

.panel-group{
  margin-bottom:0 !important;
}


.panel-group .panel + .panel {
    margin-top: 0;
    margin-bottom: 0;
}

.panel .panel-body{
  padding:5px;
  margin-bottom: 0 !important;
}


/*.panel-heading{
  padding-top:7px !important;
  padding-bottom: 7px !important;

}*/

/*RESIZING*/
.page-container {
  margin: 20px;
}

.flex-col{

  display: flex;
  flex-direction: column;
/*   border: 1px solid silver; */
  overflow: hidden;
}

.panel-container {
  display: flex;
  flex-direction: row;
/*   border: 1px solid silver; */
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-top{
  flex: 0 0 auto;
  min-height: 200px;
  white-space:nowrap;

}
.panel-bottom{
  flex:1 1 auto;
  height:100%;
  min-height:500px;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
/*   padding: 10px; */
  /*width: 300px;*/
  /*width:40%;*/
/*   min-height: 200px; */
  /*width:500px;*/
  height:100%;
  width:40%;
  min-width: 150px;
  white-space: nowrap;
/*   background: #838383; */
/*   color: white; */
}

.splitter {
  flex: 0 0 auto;
  width: 10px;  
  /*background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat lightgrey;*/
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
/*   padding: 10px; */
  width: 100%;
  height:100%;
/*   min-height: 200px; */
   min-width: 350px; 
/*   background: #eee; */
}


.panel-zero{
  width:0;
}

.level{
  width:75px;
  height: 25px;
}

.level .btn { 
  padding:3px; 
  width: 75px; 
  border-radius:2px;
  background-color:#fff; 
  color:#333;
  border:1px solid #777;  
  text-align:left;
  font-size: 12px; }
.level .btn-select { position:relative; }
.level .btn-select:after {
  content:"";
  display: block; 
  position:absolute; top:50%; right:10px; margin-top:-2px;  
  width: 0;
  height: 0;
  border-top: 4px solid #777;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-menu-select { padding:0; margin-top:-2px; width:100%; border-radius:0 0 2px 2px; border-color:#777;}

.dropdown-radio { 
  display:block; position:relative;
  margin:0;
  width:100%; overflow:hidden; text-overflow:ellipsis;
  border-bottom:1px solid #eaeaea; 
  cursor:pointer;
}
.dropdown-radio input { 
  visibility: hidden; 
  position:absolute; left: -30px; }
.dropdown-radio i { 
  /*font-weight:normal; */
  /*font-style:normal;*/
  font-size: 12px; 
  display:block; 
  padding:7px; }


  .load{
    width:100%;
    height:100%;
    position:absolute;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

.seq{
  cursor: pointer;
}
.seq text{
  font-size: 10px;
  /*fill:black;*/
}
.count{
  font-size: 11px;
  fill:black;
}

.top-bottom{
  stroke:black;
  stroke-dasharray: {50,50,50,50}
}

/*.horizontal-row{
  cursor:pointer;
}*/

.clickable{
  cursor:pointer;
}

.result, .presult, .operation{
  cursor: pointer
}


.time-dropdown button{
  font-size:10px;
  width:100%;
}

/*----------*/

/*.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}*/


/*body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  width: 960px;
  min-height: 2000px;
}*/

/*#body {
  position: relative;
}*/

/*    footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}*/

/*h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}*/

/*.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
*/

/*
.builder {
  display: inline-block;
  position: relative;
  height: 151px;
  margin-bottom: 20px;
}
*/
/*.builder_svg {
  display: inline-block;
  position: relative;
  height: 151px;
  margin-bottom: 20px;
}*/


/*
.builder {
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap
}
*/
/*.button_box {
  position: relative;
  display: inline-block;

}

.button_box_h {
  position: relative;
  display: inline-flex;

}

.button {

  position:relative;
}
*/
/*.button_box button {
  left: 50px;
  position: relative;
  display: block;
  width: 100px;
  height: 20px;

}*/

/*div {
  border: 1px solid black;
}*/

/*.button {
  position: relative;
  top: 20px;
  display: block;
  text-align:center;
  width: 100px;
}*/
