@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

.bar rect {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.node {
    cursor: pointer;
}

.partition{
  cursor: pointer;
}




.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.graph {
  left: 0px;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;

}

.info {
  left: 0px;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;

}


.wrapper {
  display: inline-flex;
  position: absolute;
  right: 10px;
  left: 10px;
}



    




.charts {
  padding: 2px 0;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap
/*  display: inline-flex;*/
}

.chart {
  display: inline-block;
  position: relative;
/*  height: 151px;*/
  margin-bottom: 20px;
}

.chart1 {
  display: inline-block;
  position: relative;
/*  height: 151px;*/
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.noAxis path, .noAxis line {
  fill: none;
  stroke:none;
  shape-rendering: crispEdges;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

html, body {
    width: 100%;
    height: 100%;
}

#svg_container {
    width: 100%;
    height: 100%;
}

#tree{
  height:1500px;
}



.leftovers {
  fill: gray;
}

.partition rect{
  fill: steelblue;
}

.hidden{display:none;}

.noAxis path, .noAxis line {
  fill: none;
  stroke:none;
  shape-rendering: crispEdges;
}


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#tooltip {
  position: absolute;
  height: 20px;
  width: 65px;
  padding: 2px;
  background-color: white;
/*        -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 8px;
  line-height: 20px;
}
#cy {
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
}

#info {
color: #c88;
font-size: 1em;
position: absolute;
z-index: -1;
left: 1em;
top: 1em;
}

.dotted {
  stroke-dasharray: 5
}


.panel-heading .info-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
}
.panel-heading .info-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.range_radio {

  font-size: 12px;
  font-family: sans-serif;
  font-weight: normal;

}

.top-buffer-sm { margin-top:5px; }
.top-buffer { margin-top:20px; }
.left-buffer { margin-left:20px; }
.right-buffer { margin-right:10px; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  margin-bottom: -1px;
}

input {
    text-align:right;
}


.panel-background{
  background-color: #f9f9f9;
}

.inline {
  position: relative;
  display: inline-flex;
}

/*.inline {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3%;

}*/
.scroll{
  overflow: scroll;
}
.border {
  border:1px solid lightgrey;
}

.inline-right {
  position: relative;
  display: inline-flex;
  text-align: right;
}

.inline-center {
  /*position: relative;
  display: inline-flex;*/
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3%;

}

.inline-center-center {
  /*position: relative;
  display: inline-flex;*/
  display: flex;
  text-align: center;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  padding: 0 3%;

}


.panel
{
    position: relative;
}

.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-leftheading
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}


.title{
  /*margin-top:18px;*/
  font-size: 12px;
}

.close{
  position:absolute;
  top:0;
  right:0;
  /*margin-top: -5px;*/
}
.circle {
/*    position: absolute;
    top:2;
    left:0;
    opacity: 0.5;*/
      margin-left:3px;
      /*margin-top: 18px;*/
      width: 14px;
      height: 14px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      border-radius: 7px;
    }
.dropdown-menu {
  min-width:120px !important;
  max-width:150px !important;
  width: 110px !important;
  height: 200px !important;

}

.action-icon svg {
  width:16px;
  height:16px;
}
/*----------*/

/*body {
  font-family: "Helvetica Neue";
  margin: 40px auto;
  width: 960px;
  min-height: 2000px;
}*/

/*#body {
  position: relative;
}*/

/*    footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}*/

/*h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}*/

/*.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
*/

/*
.builder {
  display: inline-block;
  position: relative;
  height: 151px;
  margin-bottom: 20px;
}
*/
/*.builder_svg {
  display: inline-block;
  position: relative;
  height: 151px;
  margin-bottom: 20px;
}*/


/*
.builder {
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap
}
*/
/*.button_box {
  position: relative;
  display: inline-block;

}

.button_box_h {
  position: relative;
  display: inline-flex;

}

.button {

  position:relative;
}
*/
/*.button_box button {
  left: 50px;
  position: relative;
  display: block;
  width: 100px;
  height: 20px;

}*/

/*div {
  border: 1px solid black;
}*/

/*.button {
  position: relative;
  top: 20px;
  display: block;
  text-align:center;
  width: 100px;
}*/
