.bar rect {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.node {
    cursor: pointer;
}

.node path {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.button_box button {
  left: 50px;
  position: relative;
  display: block;

}

/*div {
  border: 1px solid black;
}*/

.button {
  position: relative;
  top: 20px;
  display: block;
  text-align:center;
}

/*.graph {
  left: 0px;
  position: static;
  display: inline-block;
  top: 20px;

}*/

.wrapper {
  display: inline-flex;
  position: absolute;
  right: 10px;
  left: 10px;
}



    
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

body {
  font-family: "Helvetica Neue";
  /*margin: 40px auto;*/
  width: 960px;
  min-height: 2000px;
}

#body {
  position: relative;
}

/*    footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}*/

h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

/*#charts {
  padding: 2px 0;
}
*/
/*.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}*/

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.noAxis path, .noAxis line {
  fill: none;
  stroke:none;
  shape-rendering: crispEdges;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

